// colors
$light: #fffad4;
$dark: #2e1f15;
$orange: #bf500b;
$purple: #4F4789;
$dark-orange: #4e1506;
$selected-orange: #922709;

// shadow
$card-heavy-shadow: 0 0 0 0 $dark, 0 0 10px 0 $dark;
$card-light-shadow: 0 0 0 0 $dark, 0 0 7px 0 $dark;
$card-lightest-shadow: 0 0 0 0 $dark, 0 0 5px 0 $dark;
