// colors
$light: rgb(237, 234, 212);
$dark: rgb(11, 5, 2);
$orange: #ebb18e;
$purple: #524a8f;
$dark-orange: rgb(78, 21, 6);
$selected-orange: #922709;

// shadow
$card-heavy-shadow: 0 0 0 0 $light, 0 0 10px 0 $light;
$card-light-shadow: 0 0 0 0 $light, 0 0 7px 0 $light;
$card-lightest-shadow: 0 0 0 0 $light, 0 0 5px 0 $light;
