/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@use 'variables/variables' as vars;

@use 'mapbox-gl';

// components
@use './components/button.scss';
@use './components/canvas.scss';
@use './components/card.scss';
@use './components/clock.scss';
@use './components/container.scss';
@use './components/form.scss';
@use './components/icon';
@use './components/image.scss';
@use './components/map.scss';
@use './components/navbar.scss';

// pages
@use './pages/home.scss';
@use './pages/continents-regions.scss';
@use './pages/show-country.scss';
@use './pages/dashboard.scss';

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: vars.$dark;
  color: vars.$light;
  overflow-y: scroll;
}

h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

a, p, li, button, .ai-text, form, input[type="submit"], input {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

p {
  line-height: 2;
}

a {
  text-decoration: none;
  color: white;
}

span.dividing-line {
  display: block;
  margin: auto;
  background-color: vars.$light;
  border-radius: 30px;
  height: 0.1rem;
  width: 100%;
}
