.continent-region {
  margin: 30px;
}

.map-and-cards {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}

.info-explanation {
  width: 100%;
  text-align: center;
}

// tablet +
@media (min-width: 1000px) {
  .map-and-cards {
    flex-direction: row;
  }
}
