@use '../variables/variables' as vars;

.continent-region {
  margin: 1.2rem;
}

.map-and-cards {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.info-explanation {
  width: 100%;
  text-align: center;
  margin-top: 0.5rem;

  p {
    font-size: 0.8rem;
  }
}

// tablet +
@media (min-width: 1000px) {
  .map-and-cards {
    flex-direction: row;
  }
}
