@use '../variables/variables' as vars;

.dashboard {
  margin: 1.2rem;

  h1.dashboard-header {
    text-align: center;
  }

  .stats {
    @include vars.flex-col;
    margin-top: 1rem;
  }
}

@media (min-width: "768px") {
  .dashboard {
    .stats {
      @include vars.flex-row;
      justify-content: center;
      gap: 4rem;
    }
  }
}
