@use '../variables/variables' as vars;

section.home {
  height: 100%;
}

h1.page-header {
  width: 100%;
  font-size: 5rem;
  text-wrap: auto;
  margin: 30px 0;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section.banner, section.explanation {
  color: vars.$light;
}

section.explanation {
  padding-left: 40px;
}

.choose-header {
  text-align: center;
}

.home-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .info-box-container {
    width: 85%;
    border-radius: 20px;
    margin: auto;
    order: 3;
    align-items: stretch;
  }

  .home-page-gif {
    flex: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

section.introduction {
  @include vars.flex-col;
  align-items: normal;
  padding: 1.5rem 1rem;
  gap: 1rem;
  border-top: 1px solid vars.$light;
  border-bottom: 1px solid vars.$light;

  h2#introduction {
    font-size: 1.4rem;
    // text-align: center;
  }

  ul.introduction-text {
    line-height: 1.5;
    margin-left: 1rem;
  }
}

.introduction-text li a, .info-box > a {
  color: vars.$orange;
  text-decoration: underline 0.10em rgba(235, 177, 142, 0);
  transition: text-decoration-color 0.2s ease-in-out;

  &:hover {
    text-decoration-color: rgba(235, 177, 142, 1);
  }
}

section.info-box.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  gap: 1rem;
  margin: 0 1rem;

  .info-box {
    color: vars.$light;
    padding: 1rem 2rem;
    border-radius: 30px;
    box-shadow: vars.$card-lightest-shadow;
    @include vars.flex-col;
    justify-content: center;
    gap: 0.5rem;

    h3 { font-size: 1.5rem; }
    ul { line-height: 1.5; }
  }
}

footer {
  color: vars.$light;
  text-align: center;
  margin: 1rem;
}

// tablet
@media (min-width: 768px) {
  .page-header {
    font-size: 5rem;
    white-space: auto;
  }

  section.introduction {
    h2#introduction { text-align: center; }

    ul.introduction-text {
      width: 80%;
      margin: auto;
    }
  }


  section.info-box.grid {
    grid-template-columns: repeat(2, 1fr);

    .info-box {
      box-shadow: none;
      align-self: flex-start;
      
    }
  }
}



// desktop +
@media (min-width: 1230px) {
  .page-header {
    font-size: 8rem;
    text-wrap: nowrap;
  }

  .home-info .info-box-text,
  .home-info .info-box-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-self: stretch;
  }

  .home-info .info-box-container {
    transform-style: preserve-3d;
    box-shadow: vars.$card-lightest-shadow;
    align-self: stretch;
    display: flex;
    width: 100%;
    margin: 0;
  }
}
