@use '../variables/variables' as vars;

.home {
  height: 100%;
  background-image:
    linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)),
    url('/images/World-Map-mod.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 30px;

  // h1, h3, ol, li, p {
  //   color: vars.$light;
  // }

}

section.banner, section.explanation {
  color: vars.$light;
  border: 0.3px solid vars.$light;
  border-radius: 20px;
  background-color: rgba(123, 54, 8, 0.726);
  backdrop-filter: blur(5px);
  padding: 20px;
  margin: 0 30px 30px 30px;
}

section.explanation {
  padding-left: 40px;
}

.choose-header {
  text-align: center;
}

footer {
  color: vars.$light;
  text-align: center;
}
