@use '../variables/variables' as vars;

.country-info {
  margin: 30px;
}

.country-info > h2 {
  text-align: center;
  padding-bottom: 30px;
}

.list-link {
  text-decoration: none;
  color: vars.$dark;
}

.country-page {
  margin-bottom: 20px;
}

.ai-suggestion {
  display: flex;
  justify-content: space-around;

  .suggest-claude, .suggest-season {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
}

.ai-text {
  width: 80%;
}

@media (max-width: 600px) {
  .ai-suggestion {
    flex-direction: column;
    margin: 10px;
  }

  .ai-h2 {text-align: center;}

  .suggest-season {margin-top: 20px;}
}
