@use '../variables/variables' as vars;

.country-info {
  margin: 30px;
}

.country-info > h2 {
  text-align: center;
  padding-bottom: 30px;
}

.favourite-photos > h2 {
  width: 80%;
  text-align: center;
}

.list-link {
  text-decoration: none;
  color: vars.$light;
}

.country-page {
  margin-bottom: 30px;
}

.ai-suggestion {
  display: flex;
  justify-content: space-around;
  margin: 30px 5px 0 5px;

  .suggest-claude, .suggest-season {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
}

.ai-text {
  width: 85%;
  line-height: 1.5;


  li {
    margin: 15px 0;
  }
}

.ai-h2 {
  margin: 0 15px;
  text-align: center;
}

@media (max-width: 600px) {
  .ai-suggestion {
    flex-direction: column;
  }

  .suggest-season {margin-top: 20px;}
}
