<div class="edit-favourite container">
  <h2>Edit favourite</h2>
  <%= render "shared/favourite_form", country: @country, favourite: @favourite %>
  <%= link_to "Delete",
      favourite_path(@favourite),
      data: {turbo_method: :delete,
      turbo_confirm: "Are you sure?"}
  %>
</div>
