<div class="add-favourite container">
  <h1>Add to Favourite</h1>
  <% if @favourite_already_created %>
    <h2>You have already added this country to your favourites.</h2>
    <p>Update your favourites instead?</p>
    <%= render "shared/favourite_form", country: @country, favourite: @favourite %>
  <% else %>
    <%= render "shared/favourite_form", country: @country, favourite: @favourite %>
  <% end %>
</div>
