<div class="country-card-large">
  <div class="card-content">
    <div class="card-title">
      <%= image_tag(country.flag, alt: country.flag_alt, class: "card-image") %>
      <h1><%= country.name %></h1>
    </div>
    <div class="card-info">
      <h2>Capital: <%= country.capital %></h2>
      <h2>Language: <%= country.language_one %></h2>
    </div>
  </div>
</div>
