<div class="country-card-small">
  <div class="card-content">
    <div class="card-title">
      <%= image_tag(country.flag, alt: country.flag_alt, class: "card-image") %>
      <h1><%= country.name %></h1>
    </div>
    <% case %>
    <% when wishlist && favourite %>
      <div class="icons">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-heart"></i>
      </div>

    <% when wishlist %>
      <div class="icons">
        <i class="fa-solid fa-star"></i>
        <i class="fa-regular fa-heart"></i>
      </div>

    <% when favourite %>
      <div class="icons">
        <i class="fa-regular fa-star"></i>
        <i class="fa-solid fa-heart"></i>
      </div>

    <% else %>
      <div class="icons">
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-heart"></i>
      </div>
    <% end %>
  </div>
</div>
