<div class="edit-favourite">
  <%= link_to edit_country_favourite_path(country) do %>
    <i class="fa-solid fa-heart"></i>
  <% end %>
  <%= render "shared/favourite_info", country: country, favourites: @user_favourites %>
</div>
