@use '../variables/variables' as vars;

.btn, .submit-button, #show-ai-button, #show-season-button, button {
  background: transparent;
  color: vars.$light;
  font-size: 1rem;
  border-radius: 20px;
  border: 0.5px solid vars.$orange;
  box-shadow: vars.$card-lightest-shadow;
  padding: 10px 30px;
  margin: auto;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
    color: vars.$orange;
    transform: translateY(-3px);
  }
}

#show-ai-button, #show-season-button {
  margin: 20px 0;
}

#show-ai-button:disabled, #show-season-button:disabled {
  cursor: not-allowed;
  background-color: vars.$light;
  color: vars.$dark;
}

#show-ai-button:disabled:hover, .continent-button:disabled:hover {
  background-color: vars.$light;
  color: vars.$dark;
}

.button-group {
  margin: 20px 0px
}

.button-group-top, .button-group-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-group-top {
  margin-bottom: 20px;
}

.continent-button {
  cursor: pointer;
  background: vars.$orange;
  color: vars.$light;
  padding: 10px;
  width: 200px;
  border-radius: 20px;
  border: none;
  box-shadow: vars.$card-lightest-shadow;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

@media (max-width: 600px ) {
  .button-group-top, .button-group-bottom {
    flex-wrap: wrap;
    gap: 10px;
  }

  .continent-button {
    width: 130px;
  }
}
