@use '../variables/variables' as vars;

.submit-button, #show-ai-button {
  background: vars.$orange;
  color: vars.$light;
  font-size: 1rem;
  border-radius: 20px;
  border: none;
  box-shadow: vars.$card-lightest-shadow;
  padding: 10px;
  margin: auto;
  margin: 20px 0px;
  width: 15%;
  cursor: pointer;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.submit-button:hover, #show-ai-button:hover {
  background: vars.$selected-orange;
}
