@use '../variables/variables' as vars;

.cards {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 30px auto;
}

.country-link-card {
  text-decoration: none;
  color: vars.$light;
  border-radius: 30px;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-3px);
  }
}

.card-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
}

.show-country-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  justify-items: center;
  margin: 0 auto;
}

.country-card-info {
  color: vars.$light;
  @include vars.flex-col;
  justify-content: center;
  border-radius: 20px;
  box-shadow: vars.$card-lightest-shadow;
  padding: 2rem;
  width: 80%;
  transition: transform 0.2s ease-in-out;

  h3 { text-decoration: underline; }

  &:hover {
    transform: translateY(-3px);
  }
}

.show-card-title {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;

  h3 {
    text-decoration: underline;
  }
}

.icon {
  font-size: 1.4rem;
}

.country-card-small, .wishlist-card, .favourite-card {
  border-radius: 10px;
  box-shadow: vars.$card-lightest-shadow;
  padding: 20px;
  @include vars.flex-row;
}

.country-card-small h2 {
  text-align: center;
}

.wishlist-card, .favourite-card {
  text-align: center;
  margin: auto;
  padding: 20px 40px 20px 40px;
}

.card-country-name {
  text-align: center;
}

.card-image-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.wishlist-favourite {
  display: flex;
  flex-direction: column;
}

.wishlist-favourite-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 60vw;
  margin: 2rem auto;
}

.large-icon {
  color: vars.$light;
  font-size: 2rem;
  padding: 20px;
}

.flag-image, .individual-flag-image {
  width: 60%;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: vars.$card-lightest-shadow;
}

.individual-flag-image {
  width: 80%;
}

@media (max-width: 600px) {
  .country-link-card {width: 270px;}

  .country-info {
    text-align: center;
  }
}

// tablet +
@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .show-country-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .wishlist-favourite-cards {
    flex-direction: row;
  }
}
