@use '../variables/variables' as vars;

form {
  margin: 15px 0;
  @include vars.flex-col;
  gap: 0.5rem;

  input, textarea, select {
    font-size: 1rem;
    padding: 8px;
  }

  label {
    text-align: center;
  }

  .input,
  .email,
  .password,
  .remember-me {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: auto;
    gap: 15px;
  }
}

.user-input {
  margin: auto;
  display: inline-block;
}

#currency-input {
  width: 20%;
  font-size: 1.1rem;
  text-align: center;
  border-radius: 10px;
  border: none;
}

.search-form {
  margin: auto;
}

.add-wishlist, .add-favourite, .form-header {
  margin: 15px 0;
  text-align: center;
}

.new_wishlist, .new_favourite, .user-forms {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.login-link {
  @include vars.flex-col;
  justify-content: center;
  gap: 15px;
}
