@use '../variables/variables' as vars;

form {
  @include vars.flex-col;
  align-items: normal;
  margin: 1rem 0 2rem 0;
  gap: 1.5rem;

  input, textarea, select {
    font-size: 1rem;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid vars.$light;
  }

  input, textarea {
    width: 100%;
  }

  input.numeric {
    width: auto;
  }

  textarea { resize: vertical; }

  input.boolean {
    width: auto;
  }

  label {
    @include vars.flex-row;
    gap: 0.5rem;
    align-self: flex-start;
  }

  .input.user_first_name, .input.user_email, .input.password {
    @include vars.flex-col;
    gap: 0.2rem;
  }

  input[type="submit"] {
    width: auto;
  }

}

.user-forms {
  span.dividing-line { width: 100%; }
}

.user-input {
  margin: auto;
  display: inline-block;
}

#currency-input {
  width: 20%;
  font-size: 1.1rem;
  text-align: center;
  border-radius: 10px;
  border: none;
}

.search-form {
  @include vars.flex-col;
  gap: 0.5rem;
  margin: 1rem 0;

  .search-label {
    font-size: 1.2rem;
    align-self: center;
  }
}

.add-wishlist, .add-favourite, .form-header {
  margin: 15px 0;
  text-align: center;
}

.new_wishlist, .new_favourite, .user-forms {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.new_favourite, .new_wishlist {
  .input.favourite_rating {
    @include vars.flex-row;
    gap: 0.5rem;
  }

  .input {
    @include vars.flex-col;
    gap: 0.5rem;
  }
}

.login-link {
  @include vars.flex-col;
  justify-content: center;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  form {
    .input {
      margin: auto;
      width: 50%;
    }
  }

  .search-form {
    @include vars.flex-row;
    justify-content: center;
  }
}
