@use '../variables/variables' as vars;

form {
  margin: 10px;
  display: flex;
  flex-direction: column;

  input {
    font-size: 1rem;
    margin: 10px;
    padding: 8px;
  }

  .wishlist_desire_rating,
  .wishlist_note,
  .wishlist_future_visit_date,
  .favourite_rating,
  .favourite_note,
  .favourite_visit_date,
  .favourite_times_visited,
  .email,
  .password,
  .remember-me {
    display: flex;
    flex-direction: column;
  }
}

.add-wishlist, .add-favourite > h1, .form-header {
  text-align: center;
}

.new_wishlist, .new_favourite, .user-forms {
  width: 50%;
  margin: auto;
  margin-top: 20px;
}
