@use '../variables/variables' as vars;

form {
  margin: 10px;
  display: flex;
  flex-direction: column;

  input {
    font-size: 1rem;
  }

  .submit-button {
    background: vars.$dark-orange;
    color: vars.$dark;
    font-size: 1rem;
    border-radius: 20px;
    border: none;
    box-shadow: vars.$card-lightest-shadow;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .submit-button:hover {
    background: vars.$selected-orange;
    color: vars.$light;
  }
}
