@use '../variables/variables' as vars;

.fa-chevron-down {
  font-size: 2.5rem;
  position: absolute;
  top: 80%;
  left: 48.5%;
  cursor: pointer;
  animation: pulsate 1s infinite ease-in-out;
}

@keyframes pulsate {
  0%    { opacity: 0.5; }
  50%   { opacity: 1;   }
  100%  { opacity: 0.5; }
}
