@use '../variables/variables' as vars;

.country-banner {
  position: relative;
  overflow: hidden;
  width: 98%;
  margin: auto;
  margin-top: 4px;

  .banner-image {
    margin: 10px;
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: block;
    background-size: cover;
    opacity: 0.8;
    transition: transform 1s;
    filter: brightness(50%);

  }
  .banner-image:hover {
    transform: scale(1.1);
  }

  .banner-image-country-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: vars.$light;
    font-size: 2.5rem;
    white-space: nowrap;
    // border-radius: 20px;
    // background: rgba($dark, 0.5);
  }

  .icons {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
  }

  .icon {
    color: vars.$light;
    font-size: 2rem;
    padding: 20px;
  }

  .banner-image-attributions {
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: vars.$light;
  }

  .photographer-link {
    color: vars.$light;
  }
}
