@use '../variables/variables' as vars;

.country-banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: auto;

  .banner-image {
    width: 100%;
    max-width: 100%;
    height: 90vh;
    object-fit: cover;
    display: block;
    background-size: cover;
    // opacity: 0.8;
    transition: transform 1s ease-in-out;
    filter: brightness(50%);
  }
  // .banner-image:hover {
  //   transform: scale(1.05);
  //

  .banner-image-country-name {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: vars.$light;
    font-size: 5rem;
    white-space: nowrap;
    // border-radius: 20px;
    // background: rgba($dark, 0.5);
  }

  .icons {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
  }

  .icon {
    color: vars.$light;
    font-size: 2rem;
    padding: 20px;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: translateY(-3px);
    }
  }

  .banner-image-attributions {
    position: absolute;
    top: 15px;
    left: 15px;
    color: vars.$light;
  }

  .banner-image-attributions p {
    font-size: 0.8rem;
  }

  .photographer-link {
    color: vars.$light;
  }

  #caribbean-header {
    font-size: 4.5rem;
  }
}

.down-arrow {
  font-size: 3rem;
  position: absolute;
  top: 80%;
  left: 48.5%;
  cursor: pointer;
}

@media (max-width: 1700px) {
  .banner-image-country-name > h1 {
    font-size: 5.5rem;
    text-align: center;
    text-wrap: balance;
  }

  .image-icons > .icons {
    margin-top: 100px;
  }
}
