@use '../variables/variables' as vars;

.mapbox-continent-region, .mapbox-country {
  border-radius: 20px;
  box-shadow: vars.$card-lightest-shadow;
  margin: 15px;
  object-fit: cover;
}

.mapbox-continent-region {
  width: 60%;
  height: 400px;
}

.mapbox-country {
  width: 100%;
  height: 300px;
}

.minimize {
  transform: scale(0.7);
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background: vars.$orange;

  a {
    color: vars.$light;
    text-decoration: none;
  }
}
