@use '../variables/variables' as vars;

.mapbox-continent-region, .mapbox-country {
  border-radius: 20px;
  box-shadow: vars.$card-lightest-shadow;
  object-fit: cover;
}

.mapbox-continent-region {
  height: 400px;
  position: sticky;
  top: 0;
  margin-top: 30px;
}

.mapbox-country {
  width: 100%;
  height: 300px;
}

.minimize {
  transform: scale(0.7);
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background: white;

  a {
    color: vars.$dark;
    text-decoration: none;
  }
}

@media (min-width: 1000px) {
  .mapbox-continent-region {
    margin-left: 30px;
    margin-top: 0;
  }
}
