@use '../variables/variables' as vars;

.darken {
  filter: brightness(30%);
}

.navbar-mobile {
  background: transparent;
  z-index: 3000;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

  .mobile-menu-overlay ul {
    list-style: none;
    padding: 0;
  }

  .mobile-menu-overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: vars.$dark;
    z-index: 1000;
    padding-top: 100px;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
  }

  .mobile-menu-overlay.fade-into {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  .burger-btn {
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2000;
  }

  .line-one, .line-two, .line-three {
    display: block;
    background-color: vars.$light;
    height: 4px;
    width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
  }

  .line-one, .line-two {
    margin-bottom: 10px;
  }

  .line-two {
    width: 50%;
    transition: width 0.3s ease-in-out;
  }

  .line-one.clicked {
    -webkit-transform: rotate(45deg) translate(10px, 10px);
    transform: rotate(45deg) translate(10px, 10px);
  }

  .line-two.clicked {
    width: 0%;
  }

  .line-three.clicked {
    -webkit-transform: rotate(-45deg) translate(10px, -10px);
    transform: rotate(-45deg) translate(10px, -10px);
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    padding-bottom: 30px;
  }


  .dividing-line {
    display: block;
    background-color: vars.$light;
    height: 2px;
    width: 15%;
    margin-bottom: 30px;
    border-radius: 5px;
  }
}

#nav-map-icon {
  font-size: 2rem;
  z-index: 9000;
}

.topnav {
  display: block;
  background: transparent;
  z-index: 3000;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 30px;

  .continent-links {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
  }

  li {
    list-style: none;
  }

  .nav-right {
    display: flex;
    padding-right: 30px;
  }

  .nav-link {
    transition: color 0.2s ease-in-out;
  }

  .down-menu {
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    transform: rotate(90deg);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  .down-menu.close {
    transform: rotate(270deg);
  }

  .left-line, .right-line {
    display: block;
    background-color: vars.$light;
    height: 4px;
    width: 100%;
    border-radius: 5px;
  }

  .left-line {
    width: 60%;
    margin-bottom: 10px;
    transform: rotate(45deg);
  }

  .right-line {
    width: 60%;
    transform: rotate(-45deg)
  }

  .options-overlay {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    // visibility: hidden;
    // opacity: 0;
    // position: fixed;
    // padding-right: 20px;
    // top: 60px;
    // right: 0;
    // width: 15vw;
    // height: 40vh;
    // border-radius: 0 0 0 10px;
    // background-color: vars.$dark;
    // z-index: 1000;
    // transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  // .options-overlay.fade-into {
  //   visibility: visible;
  //   opacity: 1;
  //   pointer-events: auto;
  // }
}


.nav-link:hover {
  color: vars.$orange;
}

.nav-item {
  list-style-type: none;
}

.fa-bars {
  color: vars.$light;
}

.fa-xmark {
  color: vars.$dark;
  margin: 0 0 0px 20px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .topnav {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .topnav {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .topnav {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  .navbar-mobile {
    display: none;
  }

  .topnav {
    display: flex;
  }
}

@media screen and (min-width: 1599px) {
  // .topnav {
  //   display: none;
  // }
}

@media screen and (min-width: 1660px) {
  .navbar-mobile {
    display: none;
  }

  .topnav {
    display: flex;
  }
}
