<div class="dashboard container">
  <section>
    <h1 class="dashboard-header">Welcome to the Member's Area</h1>
    <div class="cards">
      <%= render "shared/continent_region_page", countries: @added_countries %>
    </div>
  </section>
</div>
