<div class="members-area continent-region-page container">
  <section>
    <h1>Welcome to the Member's Area</h1>
    <div class="cards">
      <%= render "shared/continent_region_page", countries: @countries %>
    </div>
  </section>
</div>
