<div class="home container">
  <section class="banner" id="seven-continents">
    <% if @photo %>
      <div class="country-banner">
        <%= image_tag(@photo.image_url, alt: "#{@photo.image_alt}", class: "banner-image") %>
        <h1 class="page-header">The Country Club.</h1>
        <div class="banner-image-attributions">
          <p><%= @photo.country.name %></p>
          <p>
            Photo by
            <%= link_to @photo.photographer_name,
                "#{@photo.photographer_url}?utm_source=the_country_club&utm_medium=referral",
                target: '_blank',
                rel: 'noopener',
                class: "photographer-link" %>
            on
            <%= link_to 'Unsplash',
                'https://unsplash.com/?utm_source=the_country_club&utm_medium=referral',
                target: '_blank',
                rel: 'noopener',
                class: "photographer-link" %>
          </p>
        </div>
      </div>
    <% end %>
  </section>

  <%# <section class="explanation">
    <h1 class="section-title">Country Club Rules</h1>
    <h3>Here are some tips to help you navigate</h3>
    <div class="explanation-list">
      <ol>
        <li>Choose a continent or region. This will take you to a list of countries.</li>
        <li>Choose a country. You will find facts and information about the country.</li>
        <li>You can now add this country to a 'wishlist' if you want to visit there, and to 'favourites' if you have already visited!</li>
        <li>Head to the Member's Area to see your wishlists and favourites.</li>
      </ol>
    </div>
  </section> %>

  <footer>
    <p>
      All photos from Unsplash. No offence is meant to be caused by any of the photos.
    </p>
  </footer>
</div>
