// colors
$light: #fffded;
$dark: #2e1f15;
$orange: #CE8D66;
$purple: #4F4789;
$dark-orange: #E55934;
$selected-orange: #5e2e216d;

// shadow
$card-heavy-shadow: 0 0 0 0 $dark, 0 0 15px 0 $dark;
$card-light-shadow: 0 0 0 0 $dark, 0 0 5px 0 $dark;
