<div class="add-wishlist container">
  <h1>Create wishlist</h1>
  <% if @wishlist_already_created %>
    <h1>You have already added this country to a wishlist.</h1>
    <p>Update your wishlist instead?</p>
  <% else %>
    <%= render "shared/wishlist_form", country: @country, wishlist: @wishlist %>
  <% end %>
</div>
