<div class="add-wishlist container">
  <h2>Create wishlist</h2>
  <% if @wishlist_already_created %>
    <h3>You have already added this country to a wishlist.</h3>
    <h3>Update your wishlist instead?</h3>
  <% else %>
    <%= render "shared/wishlist_form", country: @country, wishlist: @wishlist %>
  <% end %>
</div>
