<%# regions (N, C, S America) show %>
<div class="charts" data-controller="chart">
  <canvas data-chart-target="canvas" width=1000 height=800 id="area"></canvas>
</div>

<div class="container">
  <div class="cards">
    <%= render "shared/continent_region_page", countries: @countries %>
  </div>
</div>
