<%# regions (N, C, S America) show %>
<div class="continent-region-page">
  <% @countries.each do |country| %>
    <%= link_to country_path(country) do %>
      <div class="country-card-small">
        <div class="card-image">
          <%= image_tag(country.flag, alt: "flag of #{country.name}") %>
        </div>
        <div class="card-title">
          <h1><%= country.name %></h1>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= render 'shared/back_button' %>
